{% for resource in index.x-resources %}

  {% assign website_url = "none" %}

  {% for property in resource.properties %}
    {% if property.type == 'x-website' %}{% assign website_url = property.url %}{% endif %}
  {% endfor %}

  {% assign tag_match = 0 %}
  {% for tag in resource.tags %}
    {% if tag == show_tag %}{% assign tag_match = 1 %}{% endif %}
  {% endfor %}

  {% if tag_match == 1 %}
    <div class="row collection">
      <div class="col-md-7">
         <div class="row collection__meta">
            <div class="col-12 collection__title">
              {% if resource.image != '' %}
                <a href="{{ website_url }}"><img src="{{ resource.image }}" width="125" align="left" style="padding: 6px;"></a>
              {% endif %}
              {{ resource.name }}
            </div>
          </div>
      </div>
      <div class="col-md-5 collection_cta">
        <a class="btn btn__primary" href="{{ website_url }}">Website</a>
      </div>
    </div>
  {% endif %}
{% endfor %}
<br><br>
